:root{
  --star-bg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Ccircle cx='2' cy='2' r='1' fill='%231c2d60'/%3E%3C/svg%3E");
}



body{
  font-family: Arial, sans-serif;
  text-align:center;
background:
  var(--star-bg) repeat,
  linear-gradient(#0c163d 0%, #243b7a 100%);

}
.deck{margin-top:20px;}
.card{
  width:150px;
  height:240px;
  perspective:1000px;
  display:inline-block;
  margin:10px;
  cursor:pointer;
}
.card-inner{
  width:100%;
  height:100%;
  transition:transform 0.6s;
  transform-style:preserve-3d;
  position:relative;
}
.card.flipped .card-inner{
  transform:rotateY(180deg);
}
.card-front,.card-back{
  backface-visibility:hidden;
  position:absolute;
  width:100%;
  height:100%;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,0.4);
}
.card-front img,.card-back img{
  width:100%;
  height:100%;
  border-radius:12px;
}
.card-back{
  transform:rotateY(180deg);
}
